<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Results</title>
    <style>
        body{
            font-family: sans-serif;
        }
        table{
            border-collapse: collapse;
            margin: auto;
        }
        table,th,td{
            border: 1px solid black;
            padding:5px
        }
        th {
            text-align: left;
            height:50px;
        }
        h5,h6,h4{
            text-align: center;
        }
    </style>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>
    <h4>Results for "<%= queries.query %>" , <%= queries.centre %>, <%= queries.stream %></h2>
    <table class="table-striped table-hover table-dark" style="width:50%">
        <tr>
          <th>Name</th>
          <th>Seat no</th>
        </tr>
        <% response.forEach((resp) => { %>
        <tr>
          <td><%= resp.name %></td>
          <td><%= resp.roll %></td>
        </tr>
        <% }) %>
      </table>
    </br>
    <h5>Search using roll no. on <a href="https://www.results.shiksha/goa/hssc.htm" target="_blank">results.shiksha</a></h2>
    <h6><a href="/">Go back</a></h4>
    <h6>Developed by <a href="https://linkedin.com/in/sawantkartik" target="_blank">Kartik Sawant</a></h3>
</body>
</html>